Repository AnuchitO/demo-feature-toggles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit-test-backend, unit-test-frontend, build-backend-image, gitops-dev-versioning-backend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

unit-test-backend:
  stage: test
  image: golang:1.23.5-alpine3.21
  script: 'cd backend
  
    go test -v ./...
  
    '

unit-test-frontend:
  stage: test
  image: oven/bun:1.1.34-alpine
  script: 'cd frontend
  
    bun install
  
    bun run test
  
    '

build-backend-image:
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint:
    - ''
  stage: build
  needs:
  - unit-test-backend
  ...

gitops-dev-versioning-backend:
  stage: deploy
  needs:
  - build-backend-image
  script: '# Set up Git user information
  
    REPO=https://${GITLAB_USER_NAME}:${GITLAB_JOB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git
  
    git clone --single-branch --branch main $REPO gitops
  
    cd gitops
  
    git config user.email "ci@gitlab.com"
  
  ...

build-frontend-dev-image:
  image: gcr.io/kaniko-project/executor:v1.23.2-debug
  stage: build
  needs:
  - unit-test-frontend
  ...

gitops-dev-versioning-frontend-dev:
  stage: deploy
  needs:
  - build-frontend-dev-image
  script: '# Set up Git user information
  
    REPO=https://${GITLAB_USER_NAME}:${GITLAB_JOB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git
  
    git clone --single-branch --branch main $REPO gitops
  
    cd gitops
  
    git config user.email "ci@gitlab.com"
  
  ...

Fix unit test
  frontend/src/CancelButton.test.tsx
  frontend/src/CancelButton.tsx
  frontend/src/TransactionButton.test.tsx
  frontend/src/TransactionButton.tsx
  frontend/src/TransferButton.test.tsx
  frontend/src/TransferButton.tsx
Due: unit-test-frontend

styling font button
  frontend/src/CancelButton.tsx
  frontend/src/TransferButton.tsx
Due: unit-test-frontend

set background and create image
  frontend/src/FlotingNavBar.tsx
  frontend/src/Page.tsx
  frontend/src/welcome.svg
Due: unit-test-frontend

[Nong] fix svg typo
  frontend/src/FlotingNavBar.tsx
Due: unit-test-frontend

[Nong] adjust styling
  frontend/src/DatePicker.tsx
  frontend/src/Page.tsx
  frontend/src/Schedules.tsx
  frontend/src/Transactions.tsx
  frontend/src/Transfers.tsx
Due: unit-test-frontend

bump version
  backend/VERSION
  frontend/VERSION
Due: unit-test-backend, unit-test-frontend, build-backend-image, gitops-dev-versioning-backend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/backend:v1.0.2
  infra/dev/deployment.yaml
Due: none

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/frontend:v1.0.6-dev
  infra/dev/deployment-fed.yaml
Due: none

Remove backgroup color
  frontend/src/Page.tsx
Due: unit-test-frontend

default show transaction history but if it disable show the welcome instead.
  frontend/src/Page.tsx
Due: unit-test-frontend

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/backend:v1.0.3
  infra/dev/deployment.yaml
Due: none

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/frontend:v1.0.7-dev
  infra/dev/deployment-fed.yaml
Due: none

empty line
  README.md
Due: none

add pre-push.yml
  .pre-push-config.yaml
  push.sh
Due: none

update push script
  .pre-push-config.yaml
Due: none

update push script
  scripts/push.sh
Due: none

test push script
  scripts/push.sh
Due: none

script push all remote
  scripts/push.sh
Due: none

push script
  scripts/push.sh
Due: none

add --no-verify to prevent loop pre-push
  scripts/push.sh
Due: none

add make file
  Makefile
  push.sh
Due: none

add makefile backend
  backend/makefile
Due: unit-test-backend

add /home route
  frontend/src/FlotingNavBar.tsx
  frontend/src/Page.tsx
Due: unit-test-frontend

bump frontend version
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

Path conditions:
  unit-test-backend: any of: backend/**/*
  unit-test-frontend: any of: frontend/**/*
  build-backend-image: any of: backend/VERSION
  gitops-dev-versioning-backend: any of: backend/VERSION
  build-frontend-dev-image: any of: frontend/VERSION
  gitops-dev-versioning-frontend-dev: any of: frontend/VERSION
