Repository AnuchitO/demo-feature-toggles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit-test-backend, unit-test-frontend, build-backend-image, gitops-dev-versioning-backend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

.gitlab-ci.yml:

stages:
  - test
  - e2e
  - build
  - deploy

unit-test-backend:
  stage: test
  image: golang:1.23.5-alpine3.21
  script: |
    cd backend
    go test -v ./...
  rules:
    - changes:
        - backend/**/*

unit-test-frontend:
  stage: test
  image: oven/bun:1.1.34-alpine
  script: |
    cd frontend
    bun install
    bun run test
  rules:
    - changes:
        - frontend/**/*

build-backend-image:
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  stage: build
  needs: ["unit-test-backend"]
  script: |
    echo "Building the backend image"
    VERSION=$(cat backend/VERSION)
    echo "version:${VERSION}"
    IMAGE_NAME=$CI_REGISTRY_IMAGE/backend:$VERSION
    echo "image:"$IMAGE_NAME
    echo "Building image using Kaniko"
    /kaniko/executor \
        --context "${CI_PROJECT_DIR}/backend" \
        --dockerfile "${CI_PROJECT_DIR}/backend/Dockerfile" \
        --destination "${IMAGE_NAME}"
  rules:
    - changes:
        - backend/VERSION

gitops-dev-versioning-backend:
  stage: deploy
  needs: ["build-backend-image"]
  script: |
    # Set up Git user information
    REPO=https://${GITLAB_USER_NAME}:${GITLAB_JOB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git
    git clone --single-branch --branch main $REPO gitops
    cd gitops
    git config user.email "ci@gitlab.com"
    git config user.name "🤖 ci pipeline"
    VERSION=$(cat backend/VERSION)
    echo "version:${VERSION}"
    IMAGE_NAME=$CI_REGISTRY_IMAGE/backend:$VERSION
    echo "image name: ${IMAGE_NAME}"
    sed -i -E "s|registry.gitlab.com/.*/backend.*$|${IMAGE_NAME}|" infra/dev/deployment.yaml
    git add infra/dev/deployment.yaml
    git commit -m "[skip ci] 🤖 change dev docker image version to ${IMAGE_NAME}"
    git rebase -r main
    git push -o ci.skip origin main
  rules:
    - changes:
        - backend/VERSION

build-frontend-dev-image:
  image: gcr.io/kaniko-project/executor:v1.23.2-debug
  stage: build
  needs: ["unit-test-frontend"]
  script: |
    echo "Building the frontend image"
    VERSION=$(cat frontend/VERSION)
    echo "version:${VERSION}"
    IMAGE_NAME=$CI_REGISTRY_IMAGE/frontend:${VERSION}-dev
    echo "image:"$IMAGE_NAME
    /kaniko/executor \
      --context ${CI_PROJECT_DIR}/frontend \
      --dockerfile ${CI_PROJECT_DIR}/frontend/Dockerfile \
      --destination ${IMAGE_NAME} \
      --build-arg VITE_BACKEND_BASE_URL=https://demo-ft-api.anuchito.com \
      --build-arg VITE_API_KEY=${VITE_API_KEY} \
      --build-arg VITE_AUTH_DOMAIN=${VITE_AUTH_DOMAIN} \
      --build-arg VITE_PROJECT_ID=${VITE_PROJECT_ID} \
      --build-arg VITE_APP_ID=${VITE_APP_ID}

  rules:
    - changes:
        - frontend/VERSION

gitops-dev-versioning-frontend-dev:
  stage: deploy
  needs: ["build-frontend-dev-image"]
  script: |
    # Set up Git user information
    REPO=https://${GITLAB_USER_NAME}:${GITLAB_JOB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git
    git clone --single-branch --branch main $REPO gitops
    cd gitops
    git config user.email "ci@gitlab.com"
    git config user.name "🤖 ci pipeline"
    VERSION=$(cat frontend/VERSION)
    echo "version:${VERSION}"
    IMAGE_NAME=$CI_REGISTRY_IMAGE/frontend:${VERSION}-dev
    echo "image name: ${IMAGE_NAME}"
    sed -i -E "s|registry.gitlab.com/.*/frontend.*$|${IMAGE_NAME}|" infra/dev/deployment-fed.yaml
    git add infra/dev/deployment-fed.yaml
    git commit -m "[skip ci] 🤖 change dev docker image version to ${IMAGE_NAME}"
    git rebase -r main
    git push -o ci.skip origin main
  rules:
    - changes:
        - frontend/VERSION

trigger frontend
  frontend/src/App.tsx
Due: unit-test-frontend

just use go test
  .gitlab-ci.yml
Due: none

add bun log
  frontend/bun.lockb
Due: unit-test-frontend

bump version
  .gitlab-ci.yml
  backend/VERSION
  frontend/VERSION
Due: unit-test-backend, unit-test-frontend, build-backend-image, gitops-dev-versioning-backend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/backend:v1.0.1
  infra/dev/deployment.yaml
Due: none

just use bun run dev on frontend
  frontend/Dockerfile
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/frontend:v1.0.0-dev
  infra/dev/deployment-fed.yaml
Due: none

infra: add secret key
  infra/dev/deployment.yaml
Due: none

infra: fix env key typo
  infra/dev/deployment.yaml
Due: none

frontend: build frontend and start using preview
  frontend/Dockerfile
  frontend/VERSION
  frontend/package.json
  frontend/tsconfig.json
  infra/dev/deployment-fed.yaml
  infra/dev/service-fed.yaml
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

copy vite config
  frontend/Dockerfile
  frontend/VERSION
  frontend/bun.lockb
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

frontend: add swc core for build
  frontend/Dockerfile
  frontend/VERSION
  frontend/package.json
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

frontend: delete dependency
  frontend/Dockerfile
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

frontend: Dockerfile use node
  frontend/Dockerfile
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

frontend: docker arm
  frontend/Dockerfile
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

frontend: npm incompate
  frontend/Dockerfile
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/frontend:v1.0.2-dev
  infra/dev/deployment-fed.yaml
Due: none

add env template
  backend/.env.template
  frontend/.env.template
Due: unit-test-backend, unit-test-frontend

frontend: no copy just start
  frontend/Dockerfile
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

frontend: use python to start smaller image
  frontend/Dockerfile
  frontend/VERSION
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/frontend:v1.0.4-dev
  infra/dev/deployment-fed.yaml
Due: none

workaround backend url
  frontend/VERSION
  frontend/src/services/api.ts
Due: unit-test-frontend, build-frontend-dev-image, gitops-dev-versioning-frontend-dev

[skip ci] 🤖 change dev docker image version to registry.gitlab.com/anuchito/demo-feature-toggles/frontend:v1.0.5-dev
  infra/dev/deployment-fed.yaml
Due: none

workaround fix import.meta.env for test
  frontend/src/setupTests.ts
Due: unit-test-frontend

add requirements
  README.md
Due: none

change default backend port tgo 8080
  frontend/src/services/api.ts
Due: unit-test-frontend

Draft Stack layout responsive with Nav menu bar
  frontend/index.html
  frontend/src/App.css
  frontend/src/Draft.tsx
  frontend/src/Page.tsx
  frontend/src/Transfers.tsx
  frontend/src/index.css
Due: unit-test-frontend

use new stack layout responsive
  frontend/src/App.tsx
  frontend/src/DraftNavBarMenu.tsx
  frontend/src/Page.tsx
Due: unit-test-frontend

Layout: add Mobile frame and Floting Navigate bar
  frontend/src/FlotingNavBar.tsx
  frontend/src/Page.tsx
  frontend/src/index.css
  frontend/vite.config.ts
Due: unit-test-frontend

Remove Transfer Button
  frontend/src/App.tsx
Due: unit-test-frontend

add Document link
  frontend/src/Page.tsx
Due: unit-test-frontend

User new Icon svg for FloatingNavBar and fix color of mobile frame
  frontend/src/FlotingNavBar.tsx
  frontend/src/Page.tsx
  frontend/src/icon-schedule-2.svg
  frontend/src/icon-transaction.svg
  frontend/src/icon-transfer.svg
Due: unit-test-frontend

remove unuser code
  frontend/src/FlotingNavBar.tsx
Due: unit-test-frontend

[Nong] adjust css style for dark and light mode
  frontend/src/Accounts.tsx
  frontend/src/FlotingNavBar.tsx
  frontend/src/Transactions.tsx
Due: unit-test-frontend

[Nong] adjust css Floating Nav bar
  frontend/src/FlotingNavBar.tsx
Due: unit-test-frontend

add feature toggle for Floating Nav bar
  frontend/src/FlotingNavBar.tsx
Due: unit-test-frontend

use Naviate hooks to navigate to /transactions and /scheduled
  frontend/src/App.tsx
  frontend/src/FlotingNavBar.tsx
  frontend/src/Page.tsx
  frontend/src/Transfers.tsx
Due: unit-test-frontend

adjust layout, delete App.tsx
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Page.tsx
Due: unit-test-frontend

[Nong] adjust style
  frontend/src/Schedules.tsx
Due: unit-test-frontend

convert button to be a native element
  frontend/src/CancelButton.tsx
  frontend/src/TransferButton.tsx
  frontend/src/Transfers.tsx
Due: unit-test-frontend
